@model FurnitureProject.Models.ViewModels.ResetPasswordViewModel

<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-header bg-conflowerblue text-white text-center">
            <h3>Đặt lại mật khẩu</h3>
        </div>
        <div class="card-body">
            <form asp-action="ResetPassword" method="post" asp-controller="User">
                <input type="hidden" asp-for="Email" value="@ViewBag.Email"/>

                <div class="mt-3 position-relative">
                    <label asp-for="NewPassword" class="form-label pe-5"></label>

                    <input type="password" asp-for="NewPassword" class="form-control" id="passwordInput" />
                    <i class="bi bi-eye-slash position-absolute end-0 translate-middle-y me-3"
                       id="togglePassword"
                       style="cursor: pointer; top: 72%; transform: translateY(-55%);"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <div class="mt-3 position-relative">
                    <label asp-for="ConfirmPassword" class="form-label"></label>

                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPasswordInput" />
                    <i class="bi bi-eye-slash position-absolute end-0 translate-middle-y me-3"
                       id="toggleConfirmPassword"
                       style="cursor: pointer; top: 72%; transform: translateY(-55%);"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div class="mt-3 d-grid">
                    <button type="submit" class="btn btn-primary">Xác nhận đổi mật khẩu</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const passwordInput = document.querySelector('#passwordInput');

        togglePassword.addEventListener('click', function () {
            const isPassword = passwordInput.type === 'password';
            passwordInput.type = isPassword ? 'text' : 'password';

            this.classList.toggle('bi-eye');
            this.classList.toggle('bi-eye-slash');
        });
    </script>
    <script>
        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPasswordInput = document.querySelector('#confirmPasswordInput');

        toggleConfirmPassword.addEventListener('click', function () {
            const isPassword = confirmPasswordInput.type === 'password';
            confirmPasswordInput.type = isPassword ? 'text' : 'password';

            this.classList.toggle('bi-eye');
            this.classList.toggle('bi-eye-slash');
        });
    </script>
}
;
