@model FurnitureProject.Models.DTO.TagDTO
@* @using WebApplication1.Enums *@
@{
    ViewData["Title"] = "Chỉnh sửa nhãn";
}
<div class="title-box">
    <div class="text-box">
        <span class="title ms-2">Chỉnh sửa nhãn sản phẩm</span>
    </div>
</div>
<div class="title-box">
        <div class="card-body">
        <form asp-controller="AdminTag" asp-action="Update" method="post">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="d-flex flex-wrap gap-4">
                <div style="flex: 0 0 30%;">
                    <label asp-for="Name" class="form-label fw-medium"></label>
                    <input asp-for="Name" class="form-control" value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div style="flex: 0 0 30%;">
                    <label asp-for="Status" class="form-label fw-medium"></label>
                    <select asp-for="Status" class="form-control custom-gray-input" asp-items="ViewBag.StatusList"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn-custom bg-conflowerblue px-4">Lưu nhãn</button>
            </div>
            </form>
        </div>
</div>