html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
/*    margin-bottom: 60px;*/
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.table-background th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-background th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-background th {
    background-color: cornflowerblue !important;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.table th, .table td {
    /*    text-align: center;*/
    vertical-align: middle;
    border: none;
    padding-left: 20px !important;
}

.with-separator {
    border-right: 1px solid #ccc !important;
}

thead th:last-child {
    border-right: none !important;
}

.product-card {
    max-width: 200px;
}

.product-card-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 0 auto;
}

.image-rounded{
    border-radius: 10px;
}
/*.table {
    box-shadow: 0 2px 8px rgba(0,0,0,0.10), 0 1.5px 4px rgba(0,0,0,0.08);
}*/

.toast-success {
    background: #4caf50;
    color: #fff;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.toast-error {
    background: #f44336;
    color: #fff;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.sidebar-custom {
    width: 300px;
    min-height: 100vh;
}

.sidebar {
    min-height: 100vh;
    background: #ffffff;
    color: black;
}

    .sidebar .nav-link {
        color: cornflowerblue !important;
    }

        .sidebar .nav-link.active, .sidebar .nav-link:hover {
            background: cornflowerblue;
            color: #ffffff !important
        }

.main-content {
    padding: 1rem 1rem 0 1rem;
    background: #f8f9fa;
    min-height: 100vh;
}

.row {
    --bs-gutter-x: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sidebar .nav-item,
.sidebar li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.sidebar .nav-link {
    color: #fff;
    transition: border-radius 0.2s, background 0.2s;
}

    .sidebar .nav-link.active,
    .sidebar .nav-link:hover {
        background: cornflowerblue;
        color: #fff;
        border-radius: 5px;
    }

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10), 0 1.5px 4px rgba(0,0,0,0.08);
}

.card{
    border-radius: 10px;
}

.bg-conflowerblue {
    background-color: cornflowerblue !important;
}

.btn-custom {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10), 0 1.5px 4px rgba(0,0,0,0.08);
}

.text-box {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.title {
    font-size: 1.25rem;
    font-weight: 500;
}

.link-custom {
    text-decoration: none;
}

.pagination-box {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

.carousel-img-fixed {
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.col-md-3-5 {
    width: 30%;
}
.col-md-7-5 {
    width: 64%;
}
.col-md-8-5 {
    width: 70%;
}
.col-md-6-5{
    width:55%;
}
.col-md-1-5 {
    width: 12.5%;
}
.col-md-2-5 {
    width: 23%;
}
.col-md-3-5 {
    width: 30%;
}
.fa-1-5x {
    font-size: 1.5em;
}
.custom-gray-input {
    background-color: #FCFCFC;
    color: #333;
    border: 1px solid #ccc;
}

    .custom-gray-input::placeholder {
        color: #777;
    }
.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}
.thumbnail-img {
    transition: border 0.2s ease;
}
.thumbnail-img:hover {
        border: 2px solid #007bff;
    }

.thumbnail-img.active-thumb {
        border: 2px solid #0d6efd;
    }
.quantity-input input[type="number"]::-webkit-inner-spin-button,
.quantity-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input input[type="number"] {
    -moz-appearance: textfield;
}
.card-icon {
    font-size: 2rem;
    margin-right: 10px;
}

.card-overview {
    display: flex;
    align-items: center;
}

.sort-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    line-height: 1;
    margin-left: 15px;
}

    .sort-arrows a {
        color: white;
        text-decoration: none;
        font-size: 9px;
        height: 8px;
        padding: 2px;
        line-height: 1;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

        .sort-arrows a:hover {
            color: blue;
        }

.active-arrow {
    color: blue !important;
    font-weight: bold;
}
.active-badge {
    background: #D4FFE1;
    color: #15D147;
}
.inactive-badge {
    background: #FCE8E6;
    color: #D93025;
}
.pending-badge {
    background: #FAF9D4;
    color: #CED115;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.text-conflowerblue{
    color: cornflowerblue;
}

.button-active {
    border: 1px solid cornflowerblue !important;
    color: cornflowerblue;
}
.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 2;
    background-color: #6c757d; /* fallback */
}

.step-line {
    height: 4px;
    background-color: #ccc;
    width: 100%;
    left: 50%;
    z-index: 1;
}

.step-wrapper {
    min-width: 100px;
}




